body {
    margin: 0;
    height: 100%;



}

.octodex {
    display: inline-block;
    margin: 30px;
    /* background-color: purple; */



}

.octocat {

    top: 0;

    position: relative;
    display: inline-block;

}


a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* .octocat:nth-of-type(2) {
    background-color: green;

}

.octocat:nth-of-type(3) {
    background-color: blue;
} */

ul,
li {
    list-style: none;
    padding: 0;



}

.octocat>a>img {

    max-width: 450px;

    display: inline-block;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;

}

.octocat:after {
    content: ' ';
    display: inline-block;
    position: relative;
    width: 0;
    height: 0;
    left: 93%;
    bottom: 90px;
    border: 6px solid;
    transform: rotate(135deg);
    border-color: lightgray lightgray transparent transparent;

}

a:nth-of-type(2) img:nth-of-type() {
    margin-right: 30px;
    margin-left: 30px;
    border: 3px solid red;
}

/* .octocat:nth-of-type(1)>a>img {}

.octocat:nth-of-type(2)>a>img {


}

.octocat:nth-of-type(3)>a>img {


} */
.image-footer {

    border-bottom: 1px solid #a2a2a2;
    margin: 0;
    /* background-color: purple; */
}

/* .image-footer>.image-number+span,
a+ul+li {
    display: inline-block;
    position: absolute;
} */

.image-number {
    content: '&num;';
    text-align: left;
    left: 0;

    /* display: block;
    position: absolute; */

}

.image-number::before {
    content: '\0023';
}

.image-footer {
    display: block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.image-caption {
    display: inline-block;
    /* position: relative; */
    text-align: right;
}

.image-caption>span {
    /* display: inline-block; */
    position: relative;
    text-align: center;
    color: #747474
}

.image-caption>a {
    position: relative;
    text-align: right;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

.image-caption>ul li {
    text-align: right;
}


.authors {
    display: inline-block;
}

/* .image-caption>span,
span+a {
    background-color: firebrick;
    display: block;
    position: relative; 

    display: inline-block;

} */


li:first-child .image-caption span:nth-of-type(1) {

    margin-left: 255px;


}

li:nth-of-type(2) .image-caption span:nth-last-of-type(2) {

    margin-left: 142px;
}


li:nth-of-type(3) .image-caption span:nth-of-type(1) {
    margin-left: 240px;

}

.authors li>a>img {

    max-width: 40px;

    position: relative;


}

.image-number {
    color: #a2a2a2;

}

/* hiding all other elements */